{% load static%}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>confirm</title>
  <link rel="stylesheet" type="text/css" href="{% static 'otp/css/Otp.css'%}">
  <script src="{% static 'otp/js/index.js'%}"></script>
</head>
<html lang="en">

</html>

<body>

  <div class="container">
    <h1>ENTER OTP</h1>
    <div class="userInput">
      <form action="/user/confirm/" method="post">
        {% csrf_token %}
        <input type="text" id='ist' maxlength="1" onkeyup="clickEvent(this,'sec')" name="one">
        <input type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')" name="two">
        <input type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fouth')" name="three">
        <input type="text" id="fouth" maxlength="1" onkeyup="clickEvent(this,'fifth')" name="four">
        <input type="text" id="fifth" maxlength="1" onkeyup="clickEvent(this,'sixth')" name="five">
        <input type="text" id="sixth" maxlength="1" name="six">
    </div>
    <input type="submit" class="submit_button" value="confirm">
    </form>
  </div>
</body>
</html>